@using LogicaNegocio.Entidades
@model PageMovimientoViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Movimientos</h1>

<table class="table">
    <thead>
        <tr>
            <th> Id  </th>
            <th> Articulo </th>
            <th> Tipo de Movimiento </th>
            <th> Usuario </th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Movimiento item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Articulo.NombreArt.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoMov.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    Página @(Model.PageNumber + 1) de @Model.TotalPages
</div>

<div>
    @if (Model.PageNumber > 1)
    {
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageNumber - 1)" >Anterior</a>
    }

    @if (Model.PageNumber + 1 < Model.TotalPages)
    {
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)" >Siguiente</a>
    }
</div>